body{
  font-family: 'Raleway', sans-serif;
}


a{
    color: black;
    transition-duration: 0.3s;
}

.nav{
    margin-left: 150px;
}


  .products-div{
    padding-top: 70px;
    text-align: center;
  }

  .products-zago{
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
  }

  .title_create{
    margin-top: 70px;
    margin-left: 530px;
    width: 500px;
  }

  .text_create{
    margin-left: 530px;
    width: 500px;
    height: 100px;
  }

  .date_create{
    margin-left: 530px;
    width: 500px;
  }

  .picture_create{
    margin-left: 670px;
  }

  .button_create{
    margin-left: 630px;
    width: 300px;
  }

  .form-edit{
    margin-top: 190px;
    margin-left: 630px;
  }

  .about_us{
    margin-top: 70px;
  }

  .about_us h1{
    font-family: 'Playfair Display', serif;
  }

  .about_us p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }


  .bg-custom{
    background-color: #FFFF00;
    color: black;
  }

  .bg-custom a {
    color: black;
  }


  .bg-custom a:hover {
    color: black;
  }

  .nav-2{
    width: 1536px;
    height: 25px;
    background-color: #8B00FF;
    text-align: center;
    color: white;
  }

  .btn-custom1{
    text-decoration: none;
    color: white;
  }

  .btn-btn{
    width: 80px;
    height: 36px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #8B00FF;
    text-align: center;
    margin-right: 10px;
  }

  .btn-btn a{
    position: relative;
    left: 3px;
    color: white;
    text-align: center;
  }


  .btn-custom2{
    text-decoration: none;
    color: white;
  }

  .btn-btn-2{
    width: 80px;
    height: 36px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #8B00FF;
  }
  
  .btn-btn-2 a{
    color: white;
    transition-duration: 0.3s;
  }

  .btn-btn-2 a:hover{
    color: #FFFF00;
    transition-duration: 0.3s;
  }


  .btn-btn a:hover{
    color: #FFFF00;
    transition-duration: 0.3s;
  }

  
