body{
    font-family: 'Abel', sans-serif;
}


a{
    color: black;
    transition-duration: 0.3s;
}

.nav{
    margin-left: 150px;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #navbar li { display: inline; 
      transition-duration: 0.1s;
  }
  
  
  #navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 1000px;
    text-align: center;
    font-weight: bolder;
  }
  #navbar a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    margin-top: 10px;
  }
  
  #navbar h1{
    padding: 5px 0px;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    margin-top: 10px;
    font-family: 'Abel', sans-serif;
  }


  .zago{
    font-weight: bold;
    position: relative;
  }

  .products-div{
    padding-top: 30px;
    text-align: center;
  }

  