{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">           
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Neznayou</title>
</head>
<body>

<div class="nav">
    <h1 class="zago"><a href="{% url 'products' %}">Neznayou</a></h1>
        <ul id="navbar">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'products' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Tech</a></li>
                <li><a class="dropdown-item" href="{% url 'create' %}">Add Products</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'about_us' %}">About Us</a></li>
            </ul>
            </li>
            {% if not request.user.is_authenticated %}
                <li><a href="{% url 'sign-in' %}">Sign in</a></li>
            {% else %}
                <li><a href="{% url 'sign-out' %}">Sign out</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li><a href="#">Hello - {{ request.user.username }}</a></li>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <li><a href="{% url 'register' %}">Registrations</a></li>
            {% endif %}
            <li><form actions="{% url 'search' %}" name="word">
                    <input type="search" name="word" placeholder="Поиск">
                    <button type="submit">Поиск</button>
                </form>
            </li>
    </ul>
</div>
{% block content %}
{% endblock %}
</body>