{% extends 'index.html' %}


{% block content %}

<div class="fullscreen">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <img src="https://img.icons8.com/windows/512/000000/stream-logo.png"/ class="mt-4">
            </div>
            <div class="col-6">
                <h1 class="fw-bolder">Letto - company of your dream</h1>
                <hr>
                <p class="fw-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur facilis nihil vero nostrum laudantium veritatis at, ut, corrupti quas beatae iste eligendi deleniti illo sequi reprehenderit nemo a in autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus, mollitia consequatur ea odio corporis deleniti ratione illo ad ducimus iusto, optio porro nam asperiores, debitis ipsum dolor. Doloribus, quidem.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="fullscreen2">
    <h1 class="fw-bold header1">What we doing?</h1>
    <div class="container">
    <div class="row align-items-center">
    <div class="col">
        <div class="block">
            <p class="fw-bold">Letto inc.</p>
            <h1 class="fw-bold">Convenient workshop</h1>
        </div>
        </div>
    <div class="col">
        <div class="block2">
            <p class="fw-bold">Letto inc.</p>
            <h1 class="fw-bold">Delivery of goods <br>to home</h1>
        </div>
        </div>
    <div class="col">
        <div class="block3">
            <p class="fw-bold">Letto inc.</p>
            <h1 class="fw-bold">Professionalism of the company</h1>
        </div>
    </div>

    <h1 class="inc fw-bold">Letto inc.</h1>
    </div>
    </div>
</div>



<div class="fullscreen3">
    <h1 class="contact fw-bold">Contacts us</h1>
    <div class="container">

    <div class="form">
        <form class="form-contact" method='POST'>
            {% csrf_token %}
            <input type="text" placeholder="Name" class="input1" name="name"><br><br>
            <input type="text" placeholder="Phone Number" class="input2" name="phone_number"><br><br>
            <button type="submit" class="btn-input"><a href="{% url 'contact' %}">Send</a></button>
        </form>
    </div>
    </div>
</div>





<footer class="py-3">
<div class="copy-bottom-txt text-center py-3">
<p> 
© 2021 Letto Company. All Rights Reserved | Directed by <a href="#" target="_blank">Aibekov Islam</a>
</p>
</div>
<div class="social-icons mt-lg-3 mt-2 text-center">
<ul>
<li><a href="#"><span class="fa fa-facebook"></span></a></li>
<li><a href="#"><span class="fa fa-twitter"></span></a></li>
<li><a href="#"><span class="fa fa-rss"></span></a></li>
</ul>
</div>
</footer>



{% endblock %}